---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const headers = Astro.request.headers;
const cookie = Astro.request.headers.get('Cookie');
const xcrawler = Astro.request.headers.get('X-Crawler');

const replacer = function(k, v) { if (v === undefined) { return null; } return v; };
---

<Layout title="Web Information">
	<main>
		<h1>Important <span class="text-gradient">Web </span>Info.</h1>
		<div>
			<p><b>Headers: </b>{JSON.stringify(headers, replacer)}</p>
			<p><b>Cookie: </b>{cookie}</p>
			<p><b>X-Crawler: </b>{xcrawler}</p>
			<p><b>Client Address: </b>{Astro.clientAddress}</p>
			<p><b>Generator: </b>{Astro.generator}</p>
			<p><b>Params: </b>{JSON.stringify(Astro.params, replacer)}</p>
			<p><b>Props: </b>{JSON.stringify(Astro.props, replacer)}</p>
			<p><b>Request: </b>{JSON.stringify(Astro.request, replacer)}</p>
			<p><b>Response: </b>{JSON.stringify(Astro.response, replacer)}</p>
			<!-- <p><b>Self: </b>{Astro.self}</p> -->
			<p><b>Site: </b>{Astro.site}</p>
			<p><b>Slots: </b>{JSON.stringify(Astro.slots, replacer)}</p>
			<p><b>URL: </b>{Astro.url}</p>
		</div>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
